:root {
    --dark-1: hsl(120, 5%, 10%);
    --dark-2: hsl(120, 10%, 20%);
    --dark-3: hsl(120, 15%, 30%);
    --light-1: hsl(120, 45%, 90%);
    --light-2: hsl(120, 40%, 80%);
    --light-3: hsl(120, 35%, 70%);
}

body,
div {
    grid: auto / auto;margin: auto;
        width: fit-content;
}

.image-link {
    height: 6rem;
    padding: 0;
}

#logo {
    height: 6rem;
    padding: 0;
}

#header {
    display: grid;
    grid: auto / auto auto auto auto auto;
}

p,
ol,
ul,
li {
    text-align: left;
}

p>a,
.footer>*,
li>a,
li {
    padding: 0;
}

.footer>* {
    font-size: 0.75rem;
}

#header-background {
    display: flex;
    background-color: light-dark(var(--light-2), var(--dark-2));
}

span,
time,
em,
strong {
    padding: 0;
    font-size: inherit;
}

em {
    font-weight: bold;
}

.big-link {
    font-size: 2rem;
}

.video-list {
    display: flex;
    flex-flow: row wrap;
}

li {
    margin-left: 1rem;
}

.footer {
    background-color: light-dark(var(--light-2), var(--dark-2));
    padding: 1rem;
    grid-gap: 0;
}