:root {
    --dark-1: hsl(150, 5%, 10%);
    --dark-2: hsl(150, 10%, 20%);
    --dark-3: hsl(150, 15%, 30%);
    --light-1: hsl(150, 45%, 90%);
    --light-2: hsl(150, 40%, 80%);
    --light-3: hsl(150, 35%, 70%);
}

.image-link {
    height: 6rem;
    padding: 0;
}

#logo {
    height: 6rem;
    padding: 0;
}

#header {
    display: grid;
    grid: auto / auto auto auto auto;
}

footer,
.small-link {
    font-size: 0.75rem;
}

h1 {
    font-size: 3rem;
}

#nav {
    display: grid;
    grid: auto / 1fr 1fr 1fr 1fr 1fr 1fr;
    background: transparent;
}

.content {
    background-color: var(--dark-2);
}

p {
    text-align: left;
}

p > a, footer > a {
    padding: 0;
}

#header-background {
    display: flex;
    background-color: var(--dark-2);
}